/*Headings and body*/
body {
  padding-top: 8rem;
}

body {
    font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
}
h1 {
    letter-spacing: 0.05em;
}



/*Bootstrap overrides*/
/*Make normal buttons and highlighted outline buttons orange*/
.btn-primary, .btn-primary.disabled, .btn-outline-primary:hover,
.btn-outline-primary.active {
    background-color: #c85108;
    border-color: #c85108;
    color: white;
    border-radius: 0px;
}

/*Make outline buttons and highlighted normal buttons white*/
.btn-primary:hover, .btn-primary.active, .btn-outline-primary,
.show > .btn-primary.dropdown-toggle {
    background-color: white;
    border-color: #c85108 ;
    color: #c85108;
    border-radius: 0px;
}

/*Stop buttons from glowing blue*/
.btn:focus, .btn.focus, .btn:active:focus, .btn.active:focus, .btn:active,
.btn.active, .show > .btn.dropdown-toggle:focus {
    box-shadow: none;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row {
  margin-bottom: 1rem;
}

.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}



/* Navbar */
.dropdown-item:hover{
    color: #c85108;
    background-color: #2d353c;
}

.dropdown-menu {
    background-color: #2d353c;
    border-radius: 0px;
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-heading {
    color: #c85108;
    text-transform: uppercase;
}

.navbar {
    background-color: black;
}

.navbar-brand {
    color: white;
    text-transform: uppercase;
}

.navbar-left {
  padding-left:10px;
  padding-right:10px;
}

.nav-link, .nav-link.disabled {
    color: #bec4d4;
    text-transform: uppercase;
}

/* Change color of dropdown links on hover */
li:hover .nav-link, .navbar-brand:hover {
    color: #fff;
}

/* Show the dropdown menu on hover */
li.dropdown:hover .dropdown-menu {
    display: block;
}



/*Hubble image banner*/
.banner {
  position: absolute;
  top: 55px;
  width: 100%;
  height: 3rem;
  overflow: hidden;
}

.banner img{
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  width: 100%;
  margin: auto;
}



/* Misc */
/*Stop the search box from glowing blue*/
.form-control:focus {
    box-shadow: none;
    border-color: #cfd4da;
}